<table>
  <thead>
    <tr>
      <th>Név</th>
      <th>Foglalkozás</th>
      <th>Aktív</th>
      <th>Műveletek</th>
    </tr>
  </thead>
  <tbody>
      @for(user of users; track user){
          <tr>
          <td>{{ user.lastname }} {{ user.firstname }}</td>
          <td>{{ user.job }}</td>
          <td>{{ user.active }}</td>
          <td> <app-custom-button title="Törlés" (clicked)="deleteEmitter.emit(user)"></app-custom-button> <app-custom-button title="Módosítás" (clicked)="updateEmitter.emit(user.id)"></app-custom-button> </td>
        </tr>
    }
  </tbody>
</table>
